*{  margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
}
h1{
    text-align: center;
    padding: 10px;
    color: rgb(247, 247, 95);
}
li{
    text-align: center;
    cursor: text;
    padding: 5px;
    width: fit-content center;
}
li:hover{
    border: 3px solid rgb(247, 247, 95);
    padding: 5px;
    box-sizing: content-box;
    padding: 20px;
}li:hover > .informacao{
    display: block;
}
.informacao{
    display: none;
}
iframe{
    justify-content: center;
}
img{
    width:30px;
    padding: 0 0;
}
a{
    float:right;
    padding: 3px;
}
footer{
    text-align: end;
    color: darkgrey;
    font-style: italic;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15px;
    margin-right: 60px;
}